tasks/task_5/xsd/GetContentListRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Перечисление типов контента -->
  <xs:simpleType name="ContentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="film"/>
      <xs:enumeration value="series"/>
      <xs:enumeration value="all"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="GetContentList">
    <xs:complexType>
      <xs:sequence>
        <!-- Тип контента (опционально) -->
        <xs:element name="contentType" type="ContentType" minOccurs="0"/>

        <!-- Жанр (опционально) -->
        <xs:element name="genreValue" type="xs:string" minOccurs="0"/>

        <!-- Фильтр: только эксклюзивный контент -->
        <xs:element name="exclusiveOnly" type="xs:boolean" minOccurs="0" default="false"/>

        <!-- Пагинация (опционально) -->
        <xs:element name="page" type="xs:positiveInteger" minOccurs="0"/>
        <xs:element name="pageSize" type="xs:positiveInteger" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
